#colorBtn {
  color: #FFFFFF;
  background-color: #4072FE;
}

#red, #green, #blue {
  float: left;
  clear: left;
  width: 300px;
  margin: 15px;
}

#swatch {
  width: 120px;
  height: 80px;
  margin-top: 18px;
  margin-left: 350px;
  padding: 10px 0;
  background-image: none;
}

#red .ui-slider-range { 
  background: #ef2929; 
}
#red .ui-slider-handle { 
  border-color: #ef2929; 
}
#green .ui-slider-range { 
  background: #8ae234; 
}
#green .ui-slider-handle { 
  border-color: #8ae234; 
}
#blue .ui-slider-range { 
  background: #729fcf; 
}
#blue .ui-slider-handle { 
  border-color: #729fcf; 
}